{% extends "main_app/layout.html" %}
{% load static %}

{% block "titlepage" %}
رزرو نوبت  
{% endblock %}

{% block "homepage" %}
خانه
{% endblock %}

{% block "titlepage2" %}
رزرو نوبت  
{% endblock %}

<!-- content start -->

{% block "content" %}
<div class="container mb-5">
    
        <!-- لینک‌ها-->
        <div class="mb-4">
            <a href="/reservation" class="text-primary  me-2">جزئیات نوبت</a> 
            <a href="#ُ" class="text-primary bi bi-arrow-left me-2"> &nbsp;صورتحساب و تایید نهایی</a>
            <a href="#" class="text-primary bi bi-arrow-left me-2">&nbsp;تکمیل خرید</a>
        </div>


    <!-- محتوای  رزرو نوبت  -->
    <div class="card p-4 border-primary mt-3 shadow-sm">
        <h2 class="font-weight-semi-bold text-primary">جزئیات نوبت</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">نام کاربر</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">نام مشاور</th>
                        <th scope="col">تاریخ مشاوره</th>
                        <th scope="col">ساعت مشاوره</th>
                        <th scope="col" >حذف</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                    <td>{{ reservation.user.username }}</td>
                    <td>{{ reservation.get_status_display}}</td>
                    <td>{{ reservation.appointment.therapeutist.name }}
                    <td>{{ reservation.appointment.schedule.date }}</td>
                    <td>{{ reservation.appointment.schedule.start_time }} - {{ reservation.appointment.schedule.end_time }}</td>
                    <td><a href="/deletecartR/{{reservation.id}}/" class="btn btn-danger btn-sm">حذف</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">هزینه مشاوره </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>{{ sm }} تومان</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mt-3">
            <a href="/checkoutR" class="btn btn-primary">ثبت</a>
        </div>
    </div>
</div>
{% endblock %}

<!-- content End -->











